
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


 

body {
    background-color: #f6a2aa;
    width: 100vw;
    height: 100vh;
}

.cabecalho {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

.titulo-principal {
    color: 
}
   

header {
    padding: 5vh 5vw;
    background: linear-gradient( #f6a2aa 0%,#f8b5bb 25%,#fac7cb 50%,#fcd9dc 75%, #f6a2aa 100% );
    margin-bottom: 5vh ;
    
}

header h1 {
    color: #000;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

main{
    background: transparent;
    width: 100%;
}

main section {
    display: flex-direction-columns;
    justify-content: center;
    align-items: center;

}


main section input{
    padding: 2vh 6vw;
    background: transparent;
    border: 2px solid ;
    border-radius: 5px;
    margin: 15px;
    color: antiquewhite;
}

.caixa-principal {
    display: flex;
    justify-content: center;
}

.rodape {
    
}



